fastpic_sid: ""
hide_empty: true
max_concurrent_screenshots: 3
max_concurrent_uploads: 2
screenshot_count: 6
screenshot_quality: 2
template: |-
    [spoiler="%FILE_NAME%"]
    File: %FILE_NAME%
    Size: %FILE_SIZE%
    Duration: %DURATION%
    Resolution: %WIDTH%x%HEIGHT%
    Video: %VIDEO_CODEC% @ %VIDEO_BIT_RATE%
    Audio: %AUDIO_CODEC% @ %AUDIO_BIT_RATE%
    Overall Bitrate: %BIT_RATE%

    %THUMBNAIL%

    %SCREENSHOTS%
    [/spoiler]
